.App {
}

body {
  background-color: #EAEDF7;
}

#body {
  background-color: #EAEDF7;
  min-height: calc(100vh - 78px)
}

#body-mobile {
  margin-left: 0px;
}

.home-top-card::-webkit-scrollbar {
  display: none ;
}

body::-webkit-scrollbar {
  display: none;
}

#watchlist-card {
  transition: 0.22s;
}

#watchlist-card:hover {
  transform: scale(1.012);
  cursor: pointer;
}

.movers-card {
  transition: 0.2s;
}
.movers-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}


.navbar {
  background-color: white !important;
  
}
.nav-btn {
  transition: 0.15s;
}

.navbar-nav {
  margin-left: 45px;
}

.nav-link {
  color: #021e69 !important;
  font-size: 16px !important;
}

.nav-link:hover {
  color: #374FC9 !important;
}

.nav-item {
  margin-right: 45px ;
}

.navbar-brand {
  padding-left: 60px;
}

.nav-btn:hover {
  transform: scale(1.02);
}

.suggestion-list:hover {
  background-color: #F0F0F0;
}

.article-link:hover {
  color: #dfe6ff !important;
}

.coin-link:hover {
  text-decoration: underline !important;
}

.card-btn {
  opacity: 0;
  transition: visibility 0s 0.22s, opacity 0.22s linear;
}

.watchlist-item-container:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}

.topmovers-item-container:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}

.watchlist-add-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.22s linear;
}
.allcoin-item-container:hover .watchlist-add-btn {
  visibility: visible;
  transition: opacity 0.2s linear;
  opacity: 1;
  cursor: pointer;
}

.search-input {
  background-color: #EAEDF7 !important;
  border: none !important;
  border-radius: 15px !important;
  height: 40px !important;
}

.active {
  border-bottom: 2px solid #374Fc9 !important;
  color: #374FC9 !important;
}

.refresh-icon:hover {
  cursor: pointer;
}
