.App {
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  opacity:0.7 !important
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  opacity:0.7 !important}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  opacity:0.7 !important}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  opacity:0.7 !important}

body {
  background-color: #EAEDF7;
}

#body {
  background-color: #EAEDF7;
  min-height: calc(100vh - 78px)
}

#body-mobile {
  margin-left: 0px;
}

.home-top-card::-webkit-scrollbar {
  display: none ;
}
.coins-container::-webkit-scrollbar {
  display: none ;
}

body::-webkit-scrollbar {
  display: none;
}

#watchlist-card {
  transition: 0.22s;
}

#watchlist-card:hover {
  transform: scale(1.012);
  cursor: pointer;
}

.movers-card {
  transition: 0.2s;
}
.movers-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}


.navbar {
  background-color: white !important;
  
}
.nav-btn {
  transition: 0.15s;
}

.nav-buttons {
  margin-right: 20px;
}

.navbar-nav {
  margin-left: 45px;
}

.nav-link {
  color: #021e69 !important;
  font-size: 16px !important;
}

.nav-link:hover {
  color: #374FC9 !important;
}

.nav-item {
  margin-right: 45px ;
}

.navbar-brand {
  padding-left: 60px;
}

.nav-btn:hover {
  transform: scale(1.02);
}

.suggestion-list:hover {
  background-color: #F0F0F0;
}

.article-link:hover {
  color: #dfe6ff !important;
}

.coin-link:hover {
  text-decoration: underline !important;
}

.card-btn {
  opacity: 0;
  transition: visibility 0s 0.22s, opacity 0.22s linear;
}

.watchlist-item-container:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}
.watchlist-item-container:hover .icon-container {
  visibility: visible;
}


.delete-icon-container {
  visibility: hidden;
}

.watchlist-item-container:hover .delete-icon-container {
  visibility: visible;
}
.allcoins-item-container:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}
.allcoins-item-container:hover .graph-icon {
  visibility: visible;
}

.add-icon:hover {
  transform: scale(1.1);
}

.topmovers-item-container:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}

.watchlist-add-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.22s linear;
}
.allcoin-item-container:hover .watchlist-add-btn {
  visibility: visible;
  transition: opacity 0.2s linear;
  opacity: 1;
  cursor: pointer;
}

.search-input {
  background-color: #EAEDF7 !important;
  border: none !important;
  border-radius: 15px !important;
  height: 40px !important;
}

.active {
  border-bottom: 2px solid #374Fc9 !important;
  color: #374FC9 !important;
}

.refresh-icon:hover {
  cursor: pointer;
}

#alert-exit:hover {
  cursor: pointer;
}

.icon-container {
  visibility:hidden;
}
.graph-icon:hover {
transform: scale(1.1);
}
.delete-icon:hover {
transform: scale(1.1);
color:#D11A2A !important
}

.modal-switch:hover {
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.watchlist-symbol {
  font-weight: bold;
}

/*Tablet specific CSS */

@media only screen and (device-width: 768px) {

  /*Home page tablet styling */
  .home-top-card {
    margin-top :15px;
    height: 440px !important;
  }
  .icon-container {
    visibility: visible;
  }

  .delete-icon {
    visibility: visible;
  }

  .coin-id-container {
    flex:3 !important
  }

  /*Navbar tablet styling */

  .nav-buttons {
    margin-right:0px !important
  }

  .navbar-brand {
    padding-left: 22px  ;
  }
 .nav-btn {
   margin-right:0px !important
 }
  .navbar-nav {
    margin-left:35px
  }

  .search-input {
    margin-left:-20px
  }

  .nav-item {
    margin-right: 30px !important;
  }

  /* Coins page styling */
  .coins-container {
    height: 90vh !important;
    padding-left:50px !important;
    padding-right:50px !important
  }

  /* Single coin page styling */
  .coin-percent-card {
    margin-top: 15px;
  }


}


/*Styling for mobile devices */
@media (min-width: 320px) and (max-width: 480px) {

  /*Navbar styling */

  .navbar-brand {
    padding-left: 0px;
  }

  .navbar-nav {
    margin-left: 0px;
  }

  .nav-item {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link {
    font-size: 18px !important;
    font-weight: bold;
  }

  .nav-btn {
    width: 90%;
  }
  .nav-buttons{
  text-align: center; 
  margin-right: 0px;
 }

  /*Home page dashboard styling*/
  
.home-top-cards-row {
  padding: 0px !important;
  margin-top: 15px !important;
}  

.home-top-card {
  margin-bottom:15px;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.watchlist-img {
  width: 25px !important;
  height: 25px !important;
}

.watchlist-id {
  display: none;
}

.coin-id-container {
  flex: 1 !important;
}

.coin-price-container {
  padding-left: 0px !important;
  text-align: center;
  font-weight: bold;
}

.graph-icon {
  display: none ;
}

.delete-icon {
  visibility: visible;
}

.watchlist-symbol {
  color: #021E69 !important;
  font-size: 14px !important;
  font-weight: 450 !important;
  
}

.topmovers-percent {
  text-align: center !important;
}
}